body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}
* {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  background: none;
  outline: none;
  font-family: "Source Sans Pro", sans-serif;
  color: #3a4444;
  box-sizing: border-box;
}
h1 {
  font-size: 32px;
  font-weight: 600;
}
h2 {
  font-size: 24px;
  font-weight: 600;
}
h3 {
  font-size: 22px;
  font-weight: 600;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 14px;
}
p {
  font-size: 16px;
}
button {
  font-size: 18px;
  font-weight: 600;
}
input,
textarea,
select {
  font-size: 16px;
}
.react-tabs__tab--selected {
  border-bottom: 4px solid #262f71;
}
.react-tabs__tab:hover {
  background-color: rgb(199 214 207 / 12%);
}
.Toastify__toast-body {
  color: #fff;
}
.Toastify__toast--warning .Toastify__toast-body {
  color: #000;
}
